Hello
@User.Identity.Name
@foreach(var p in Model)
{
  @p.Email
}
<a href="~/Personnel/Orders">
    Активные заказы
</a>
<a href="~/Roles">
   Редактирование прав доступа
</a>
<a href="~/Users">
   Редактирование пользователей
</a>


<a href="~/Admin">
   Список всех заказов
</a>


